language: java
sudo: required
jdk:
  - openjdk11
go:
  - 1.12.x

before_install:
  - "echo $JAVA_OPTS"
  - "export JAVA_OPTS=-Xmx512m"

script:
  - go get github.com/birkland/ocfl/cmd/ocfl
  - mvn install -B -V
  - mvn javadoc:jar
  - mvn javadoc:test-aggregate

notifications:
  irc: "irc.freenode.org#fcrepo"
